body{
    font-family:arial;
    font-size: 25px;

    background-color: black;
    color: white;
   
    
}

h1{
    text-align: center;
    background-color:black;

}

nav{ 
    text-align: center;
    
    
}
     
     
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    
    li{
        float:left;
        text-decoration: none;
        
    }
    
    a{
        display:block;
        width:220px;        
    }
    
    ul a:hover {color:green;
        background-color: red
        
    }
    
     
/*   

img{
    width: 100%;
    height: auto;*/

.topbar
{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: block;
    float: left;
    height: auto;
    width:100%;
}
.sunset_cropped_1
{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    height: 250px;
    width:85%;
    float: right;
}


    
.mainHeader img {

		/*width: 300px;
		height: 100px;*/
        float: top;

		width: 300px;
		height: 100px;
}
      

        

